<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>square root</h2>
    <form method="post">
      <input type="number" name="a" placeholder="enter a number" />
      <button type="submit">calculate</button>
    </form>
    {% if result is not none %}
    <p>Result: {{ result }}</p>
    {% endif %}
    <a href="./">go to dashboard</a>
  </body>
</html>
